<!DOCTYPE html>
<html>
    <head>
        <title>Beer Cellah!</title>
    </head>
    <style>
        td {
            padding: 10px;
        }
    </style>

    <body style="font-size:2rem;background-color: white;">
        <h1>Welcome to the Beer Cellah!</h1>
        <hr/>
        <h4>Currently we are {{ if .Running }}RUNNING!!!{{ else }}NOT running{{ end }}</h4>
        <div style="margin-top: 1rem;">
            <table>
                <thead>
                    <tr><th>Current</th><th>Max</th><th>Min</th></tr>
                </thead>
                <tbody>
                    <tr><td>{{ .CurrentTemp }}</td><td>{{ .MaxTemp }}</td><td>{{ .MinTemp }}</td></tr>
                </tbody>
            </table>
        </div>
        <div style="margin-top: 3rem;">
            <canvas id="myCanvas" width="720" height="180" style="border:1px solid grey;width:100%"></canvas>
        </div>

        <script>
            const canvas = document.getElementById("myCanvas");
            const ctx = canvas.getContext("2d");
            ctx.font = "9px Arial";
            
            let xMax = canvas.width;
            let yMax = canvas.height;
            let baseTemp = 40; // this is the actual min temp we're going to show
            let tempOffset = 4; // 3 units up for our vertical axis
            
            // ctx.transform(1, 0, 0, 3, 0, yMax)
            ctx.transform(1, 0, 0, -4, 0, yMax);
            
            // Add tick marks and values along y-axis
            for (let i = 0; i <= yMax / tempOffset; i += 10) {
              ctx.beginPath();
              ctx.strokeStyle = "#AAA";
              ctx.moveTo(1, i);
              ctx.lineTo(xMax - 40, i);
              ctx.stroke();
            }
            
            // add the values to the scale
            ctx.save();
            
            const labels = [70, 60, 50]; // just hard-coded labels around where we're expecting to see the temps
            ctx.setTransform(1, 0, 0, 4, 0, 0);
            
            for (let i = 0; i < labels.length; i++) {
              ctx.fillText(labels[i], xMax - 30, i * 10 + 18);
            }
            
            ctx.restore();
            
            const yArray = [{{ .Temps }}];
            
            ctx.fillStyle = "red";
            for (let i = 0; i < yArray.length; i++) {
              ctx.beginPath();
              ctx.ellipse(i/4, yArray[i] - baseTemp, 3, 1, 0, 0, Math.PI * 2);
              ctx.fill();
            }

            // Plot Line
            ctx.beginPath();
            ctx.strokeStyle = "blue";
            ctx.moveTo(0, {{ .Target }} - baseTemp);
            ctx.lineTo(xMax - 40, {{ .Target }} - baseTemp);
            ctx.stroke();


            const coolingHistory = [{{ .CoolingHistory }}];
            ctx.fillStyle = "green";
            
            for (let i = 0; i < coolingHistory.length; i++) {
            	if (coolingHistory[i] > 0) {
                	ctx.beginPath();
                    ctx.ellipse(i/4, 45, 5, 1, 0, 0, Math.PI * 2);
                    ctx.fill();
                }
            }
        </script>
            
    </body>
</html>


