<!DOCTYPE html>
<html>
    <head>
        <title>Beer Cellah!</title>
    </head>
    <body>
        <h1>Welcome to the Beer Cellah!</h1>
        <hr/>
        <h4>Currently we are {{ if .Running }}RUNNING!!!{{ else }}NOT running{{ end }}</h4>
        <div style="margin-top: 1rem;">
            <table>
                <thead>
                    <tr><th>Current</th><th>Max</th><th>Min</th></tr>
                </thead>
                <tbody>
                    <tr><td>{{ .CurrentTemp }}</td><td>{{ .MaxTemp }}</td><td>{{ .MinTemp }}</td></tr>
                </tbody>
            </table>
        </div>
        <div style="margin-top: 2rem;">
            <canvas id="myCanvas" width="720" height="200" style="border:1px solid grey"></canvas>
        </div>

        <script>
            const canvas = document.getElementById("myCanvas");
            const ctx = canvas.getContext("2d");
            
            let xMax = canvas.height = canvas.width;
            ctx.transform(1, 0, 0, -1, 0, xMax)
            
            const yArray = [{{ .Temps }}];
            
            ctx.fillStyle = "red";
            for (let i = 0; i < yArray.length-1; i++) {
              ctx.beginPath();
              ctx.ellipse(Math.ceil(i / 4), yArray[i] * 2, 3, 3, 0, 0, Math.PI * 2);
              ctx.fill();
            }
        </script>
            
    </body>
</html>


